<div class="modal fade" id="package-success-modal" tabindex="-1" aria-labelledby="package-success-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="package-success-title">Đã sẵn sàng vào lễ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p id="package-success-message" class="text-muted mb-0"></p>
      </div>
      <div class="modal-footer justify-content-center border-0 pt-0 pb-4">
        <a id="package-start-link" href="#" class="btn btn-success px-4">Bắt đầu vào lễ</a>
      </div>
    </div>
  </div>
</div>
